.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
	width: 100%;
	max-width: none;
	margin: 2rem auto 2rem auto;
	padding-left: 3rem;
	padding-right: 3rem;
}

@media screen and (max-width: 640px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.card-width {
  width: 320px;
  background: white;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 0.25rem;
}

.card-content > * {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.features {
  margin-bottom: 0.25rem;
  padding-left: 1rem;
  list-style: none;
}

.btn-group {
  display: flex;
  justify-content: center;
  margin-top: 0.25rem;
}

/*
.btn-group button {
  padding: 0.6rem 2rem;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  background-color: #0b3d91;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

/*
.btn-group button:hover {
  background-color: #092d6b;
}
*/

.tc { text-align: center; }

#pricing {
  /* This ensures the anchor stops 100px before the element, 
     preventing the header from covering the title */
  scroll-margin-top: 100px; 
}
